.edit-conteiner{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.edit-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
     background-color: white;
     width: 400px;
     //height: 400px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     border-radius: 5px;
     position: relative;
     margin: 50px;

    .logo-edit {
        margin: 15px 10px 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p#edit-text{
        color: black;
        text-align: center;
        font-size: 20px;
        margin: 10px;
    }

    form {
        color: black;
        margin: 20px 40px 40px 40px;

        label {
            padding-bottom: 8px;
        }
        #form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        input {
            background-color: white;
            outline: none;
            border: 1px solid rgba(108, 108, 108, 0.385);
            border-radius: 5px;
            padding: 5px;
            color: black;
        }
        textarea {
            background-color: white;
            outline: none;
            border: 1px solid rgba(108, 108, 108, 0.385);
            border-radius: 5px;
            padding: 5px;
            color: black;
        }

        #btn-edit{
            background-color: #0060b9;
            color: white;
            &:hover {
            background-color: #0084FF;
            color: white;
            cursor: pointer;
        }
    }
    }
}

.error{
    background-color: red;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}